* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: monospace;
    background-color: rgb(14, 11, 11);
    
}

body {
    display: flex;
    justify-content: center;
}

.imagem {
    width: 400px;
    height: 600px;
    margin: 100px;
    background-color: rgb(26, 25, 25);
    border-radius: 20px;
}

.avatar {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: rgb(26, 25, 25);

}

.avatar img {
    width: 100px;
    border-radius: 50%;
}

.informacoes h1{
    margin-top: 30px;
    text-align: center;
    color: #fff;
    background-color: rgb(26, 25, 25);
}

.informacoes h3{
    text-align: center;
    color: greenyellow;
    background-color: rgb(26, 25, 25);
}

.sobre p{
    margin-top: 30px;
    text-align: center;
    color: #fff;
    background-color: rgb(26, 25, 25);
}

.redes-sociais{
    text-align: center;
    padding: 20px;
    background-color: rgb(26, 25, 25);
    color: #fff;
}

.redes-sociais p:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.redes-sociais a{
    text-decoration: none;
}

.redes-sociais p{
    margin-top: 30px;
    padding: 20px;
    background-color: #413e3e ;
    border-radius: 20px;
    color: #fff;
}